
.navbar-header img{
    height: 30px;
    width: 30px;
}
.navbar-toggle{
    float: right;

}
#logo {
    height: 170px;
    width: 170px;
    margin: auto;
    border: none;
    margin-top: 2px;
    margin-left: 50px;
    display: block;
}
.logoPrincipal {
    height: 170px;
    width: 800px;
    border: none;
    background-color: white;
}
.titulo{
    margin-top: 60px;
    text-align: center;
    vertical-align: center;
    float: left;
    font-family: italic;
}
.container{
    float:right;
}
#nav navbar-nav{
    color: cornsilk; 
}
.container{
    background-color: blueviolet;
}
#navbar {
background-color: blueviolet;
color: cornsilk;
font-family: italic;
font-size: 25px;
}
#navdar {
    margin-top: 50px;

}
header-titulo{
    float: left;
    margin: 20px;
    margin-top: 60px;
    text-align: center;
    vertical-align: middle;
}

