
.navbar-header img{
    height: 30px;
    width: 30px;
}
.navbar-toggle{
    float: right;

}
#logo {
    height: 170px;
    width: 170px;
    margin: auto;
    border: none;
    margin-top: 2px;
    margin-left: 50px;
    display: block;
}
.logoPrincipal {
    height: 170px;
    width: 800px;
    border: none;
    background-color: white;
}
.titulo{
    margin-top: 60px;
    text-align: center;
    vertical-align: center;
    float: left;
    font-family: italic;
}
.container{
    float:right;
}
#nav navbar-nav{
    color: cornsilk; 
}
.container{
    background-color: blueviolet;
    
}
.container-li{
    color: cornsilk;
}
#navbar {
background-color: blueviolet;
color: cornsilk;
font-family: italic;
font-size: 25px;
}
#navdar {
    margin-top: 50px;

}
header-titulo{
    float: left;
    margin: 20px;
    margin-top: 60px;
    text-align: center;
    vertical-align: middle;
}

    
    .que-es-covid {
        float: left;
        width: 50%;
        height: 300px;
    }
    
    .imagen-que-es {
        float: right;
        width: 50%;
        height: 300px;
    }
    
    .imagen-que-es img {
        width: 100%;
        height: 300px;
    }
    
    .contenedor-2 {
        width: 100%;
        padding: 25px 0;
        margin: 2px;
    }
    
    .sintomas-img {
        float: left;
        width: 50%;
    }
    
    .sintomas-img img {
        width: 100%;
        height: 100%;
    }
    
    .sintomas {
        float: right;
        width: 50%;
        vertical-align: middle;
        margin-top: 20px;
    }
    
    .contenedor-3 {
        width: 100%;
        padding: 25px 0;
        margin: 2px;
        
    }
    
    .cuidarse-img {
        float: right;
        width: 50%;
    }
    
    .cuidarse-img img {
        width: 100%;
        height: 100%;
    }
    
    .cuidarse {
        float: right;
        width: 50%;
        vertical-align: middle;
        margin-top: 20px;
    }